registry=https://registry.npmjs.org/

; Replace ORG, FEED, and PROJECT with your Azure DevOps values
@callpad-sdk:registry=https://pkgs.dev.azure.com/VoyatekGroup/b4112907-f359-45e4-b4da-36d1ef143922/_packaging/callpad-sdk/npm/registry/ 

always-auth=true
